.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 100px 141px;
    background-color: #2E2F42;
}
.footer > .logo{
    color:#F4F4FD;
}
.footer > .text{
    max-width: 264px;
    color:#F4F4FD;
}
